@charset "utf-8";
/* CSS Document */

fieldset {
display: block;
-webkit-margin-start: 2px;
-webkit-margin-end: 2px;
-webkit-padding-before: 0.35em;
-webkit-padding-start: 0.75em;
-webkit-padding-end: 0.75em;
-webkit-padding-after: 0.625em;
border: 0px groove threedface !important;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
min-width: -webkit-min-content;
}


.filete{
	border-top:double 1px #1470bb;
	border-bottom:double 1px #1470bb;
}

.filete-top{
	border-top:double 1px #1470bb;
}

.filete-bottom{
	border-bottom:double 1px #1470bb;
}

.textos{
	font-family:Calibri, Arial, Tahoma, Verdana;
	font-size:12px;
	color:#666;
}

.titulo_tb{
	font-family:Calibri, Arial, Tahoma, Verdana;
	font-size:16px;
	color:#1470bb;
	text-align:left;
}



/* tabla */

.tabla {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #ededed;
	

}.tabla table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	
}.tabla tr:last-child td:last-child {
}
.tabla table tr:first-child td:first-child {
}
.tabla table tr:first-child td:last-child {
}.tabla tr:last-child td:first-child{
}.tabla tr:hover td{
	
}
.tabla tr:nth-child(odd){ background-color:#f4f4f4; }

.tabla tr:nth-child(even)    { background-color:#ffffff; }.tabla td{
	vertical-align:middle;
	border:1px solid #ededed;
	border-width:0px 1px 1px 0px;
	padding:4px 8px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#706f6f;
}.tabla tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tabla tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tabla tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tabla tr:first-child td{
	background:-o-linear-gradient(bottom, #4d99d2 5%, #4d99d2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4d99d2), color-stop(1, #4d99d2) );
	background:-moz-linear-gradient( center top, #4d99d2 5%, #4d99d2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4d99d2", endColorstr="#4d99d2");	background: -o-linear-gradient(top,#4d99d2,4d99d2);

	background-color:#4d99d2;
	border:0px solid #ededed;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:12px;
	font-family:Arial;
	color:#ffffff;
}
.tabla tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #4d99d2 5%, #4d99d2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4d99d2), color-stop(1, #4d99d2) );
	background:-moz-linear-gradient( center top, #4d99d2 5%, #4d99d2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4d99d2", endColorstr="#4d99d2");	background: -o-linear-gradient(top,#4d99d2,4d99d2);

	background-color:#4d99d2;
}
.tabla tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tabla tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}




/* tabla-2 */



.tabla-2 {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #efefef;
	
}.tabla-2 table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.tabla-2 tr:last-child td:last-child {
}
.tabla-2 table tr:first-child td:first-child {
}
.tabla-2 table tr:first-child td:last-child {
}.tabla-2 tr:last-child td:first-child{
}.tabla-2 tr:hover td{
	background-color:#ffffff;
}
.tabla-2 td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #efefef;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:4px;
	font-size:11px;
	font-family:Arial;
	font-weight:normal;
	color:#777777;
}.tabla-2 tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tabla-2 tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tabla-2 tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tabla-2 tr:first-child td{
		background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");	background: -o-linear-gradient(top,#ffffff,ffffff);

	background-color:#ffffff;
	border:0px solid #efefef;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#6d6d6d;
}
.tabla-2 tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");	background: -o-linear-gradient(top,#ffffff,ffffff);

	background-color:#ffffff;
}
.tabla-2 tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tabla-2 tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


/* tabla-3 */
.tabla-3 {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #efefef;
}.tabla-3 table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.tabla-3 tr:last-child td:last-child {
}
.tabla-3 table tr:first-child td:first-child {
}
.tabla-3 table tr:first-child td:last-child {
}.tabla-3 tr:last-child td:first-child{
}.tabla-3 tr:hover td{
	background-color:#ffffff;
		

}
.tabla-3 td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #efefef;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:4px;
	font-size:11px;
	font-family:Arial;
	font-weight:normal;
	color:#777777;
}.tabla-3 tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tabla-3 tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tabla-3 tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tabla-3 tr:first-child td{
		background:-o-linear-gradient(bottom, #4d99d2 5%, #4d99d2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4d99d2), color-stop(1, #4d99d2) );
	background:-moz-linear-gradient( center top, #4d99d2 5%, #4d99d2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4d99d2", endColorstr="#4d99d2");	background: -o-linear-gradient(top,#4d99d2,4d99d2);

	background-color:#4d99d2;
	border:0px solid #efefef;
	text-align:left;
	border-width:0px 0px 1px 1px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.tabla-3 tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #4d99d2 5%, #4d99d2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4d99d2), color-stop(1, #4d99d2) );
	background:-moz-linear-gradient( center top, #4d99d2 5%, #4d99d2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4d99d2", endColorstr="#4d99d2");	background: -o-linear-gradient(top,#4d99d2,4d99d2);

	background-color:#4d99d2;
}
.tabla-3 tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tabla-3 tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}




/* boton */

.boton {
	-moz-box-shadow:inset 0px 2px 3px 0px #cfe2f1;
	-webkit-box-shadow:inset 0px 2px 3px 0px #cfe2f1;
	box-shadow:inset 0px 2px 3px 0px #cfe2f1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #55a7e6), color-stop(1, #1470bb) );
	background:-moz-linear-gradient( center top, #55a7e6 5%, #1470bb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#55a7e6', endColorstr='#1470bb');
	background-color:#55a7e6;
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:42px;
	-moz-border-radius-topright:42px;
	border-top-right-radius:42px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;
	text-indent:0px;
	border:1px solid #81b2da;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	height:30px;
	line-height:20px;
	width:99px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 0px 0px #1470bb;
}
.boton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1470bb), color-stop(1, #55a7e6) );
	background:-moz-linear-gradient( center top, #1470bb 5%, #55a7e6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1470bb', endColorstr='#55a7e6');
	background-color:#1470bb;
}.boton:active {
	position: relative;
	top: 1px;
	text-align: right;
}

/* button-2 */


.button-2 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:-1px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:11px;
	font-style:normal;
	height:27px;
	line-height:24px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.button-2:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.button-2:active {
	position:relative;
	top:1px;
}

	
		
/* leyenda */

.leyenda {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #dbdbdb;
	
}.leyenda table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.leyenda tr:last-child td:last-child {
}
.leyenda table tr:first-child td:first-child {
}
.leyenda table tr:first-child td:last-child {
}.leyenda tr:last-child td:first-child{
}.leyenda tr:hover td{
	background-color:#ffffff;
}
.leyenda td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #dbdbdb;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:4px;
	font-size:11px;
	font-family:Arial;
	font-weight:normal;
	color:#777777;
}.leyenda tr:last-child td{
	border-width:0px 1px 0px 0px;
}.leyenda tr td:last-child{
	border-width:0px 0px 1px 0px;
}.leyenda tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.leyenda tr:first-child td{
		background:-o-linear-gradient(bottom, #efefef 5%, #efefef 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #efefef), color-stop(1, #efefef) );
	background:-moz-linear-gradient( center top, #efefef 5%, #efefef 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#efefef", endColorstr="#efefef");	background: -o-linear-gradient(top,#efefef,efefef);

	background-color:#efefef;
	border:0px solid #dbdbdb;
	text-align:left;
	border-width:0px 0px 1px 1px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#135aa5;
}
.leyenda tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #efefef 5%, #efefef 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #efefef), color-stop(1, #efefef) );
	background:-moz-linear-gradient( center top, #efefef 5%, #efefef 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#efefef", endColorstr="#efefef");	background: -o-linear-gradient(top,#efefef,efefef);

	background-color:#efefef;
}
.leyenda tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.leyenda tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


/* total */

.total {
	margin:0px;padding:0px;
	width:100%;
	
}.total table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.total tr:last-child td:last-child {
}
.total table tr:first-child td:first-child {
}
.total table tr:first-child td:last-child {
}.total tr:last-child td:first-child{
}.total tr:hover td{
	background-color:#ffffff;
}
.total td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #efefef;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:4px;
	font-size:11px;
	font-family:Arial;
	font-weight:normal;
	color:#777777;
}.total tr:last-child td{
	border-width:0px 1px 0px 0px;
}.total tr td:last-child{
	border-width:0px 0px 1px 0px;
}.total tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.total tr:first-child td{
		background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");	background: -o-linear-gradient(top,#ffffff,ffffff);

	background-color:#ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#6d6d6d;
}
.total tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");	background: -o-linear-gradient(top,#ffffff,ffffff);

	background-color:#ffffff;
}
.total tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.total tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

/* form */

.select{
	font-family:Calibri, Arial, Tahoma, Verdana;
	font-size:12px;
	color:#666;
	
	width:60%;
	
	padding-left:10px;
	padding-right:10px;
	padding-top:3px;
	padding-bottom:3px;
	
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	border: 1px solid #999;
	
	background: rgba(245,245,245,1);
	background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(246,246,246,1) 34%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,245,245,1)), color-stop(34%, rgba(246,246,246,1)), color-stop(99%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(246,246,246,1) 34%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(246,246,246,1) 34%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(246,246,246,1) 34%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(246,246,246,1) 34%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ffffff', GradientType=0 );
}
