<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


	<resource-ref>
        <description>
        </description>
        <res-ref-name>jdbc/fiseref</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>

 <!-- Define la localizacion de los ficheros de configuracion de Spring -->  
     <context-param>  
         <param-name>contextConfigLocation</param-name>  
         <param-value>/WEB-INF/context/applicationContext.xml</param-value>  
     </context-param>  
   
     <!-- Listener de Contexto -->  
     <listener>  
         <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>  
     </listener>  
   
     <!-- Servlet de Spring MVC Portlet -->  
     <servlet>  
         <servlet-name>ViewRendererServlet</servlet-name>  
         <servlet-class>org.springframework.web.servlet.ViewRendererServlet</servlet-class>  
         <load-on-startup>1</load-on-startup>  
     </servlet>  
   
   <servlet>
		<description></description>
		<display-name>ExportExcelPlus</display-name>
		<servlet-name>ExportExcelPlus</servlet-name>
		<servlet-class>gob.osinergmin.fise.gart.servlet.ServletExportExcelPlus</servlet-class>
  </servlet>
   
     <servlet-mapping>  
         <servlet-name>ViewRendererServlet</servlet-name>  
         <url-pattern>/WEB-INF/servlet/view</url-pattern>  
     </servlet-mapping> 
     
     <servlet-mapping>
		<servlet-name>ExportExcelPlus</servlet-name>
		<url-pattern>/ExportExcelPlus</url-pattern>
	</servlet-mapping>
     
  <jsp-config>
  	<taglib>
  		<taglib-uri>http://java.sun.com/portlet_2_0</taglib-uri>
  		<taglib-location>
  			/WEB-INF/tld/liferay-portlet.tld
  		</taglib-location>
  	</taglib>
  </jsp-config>

</web-app>